# Entornos virtuales
venv/
.venv/
env/
ENV/

# Archivos de configuración de entorno
*.env

# Archivos temporales de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Archivos del sistema
.DS_Store
Thumbs.db

# Archivos de editor
.vscode/
.idea/
